<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">

<!-- start of main navigation bar !-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- mobile vertical / toggle view !-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='{{url_for('showCategories')}}'>Item Catalog</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="btn btn-primary" role="button" style='color: white' href='{{url_for('newItem')}}'>New Item</a>
        </li>
        <li>
          <a class="btn btn-primary" role="button" style= 'color: white' href='{{url_for('login')}}'>Log In</a>
        </li>
      </ul>
    </div>
  </div> <!--- container fluid !-->
</nav>

    <div class="row">

      <div class="col-md-2">
        <ul class="list-unstyled">
          {% for item in categories %}
          <li><a href='{{url_for('showCategory', category_id=item.id)}}'>{{ item.title }} </a> </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-10">
        <table class="table table-striped">
          <th> Name </th>
          <th> Description </th>
          <th> Category </th>
          {% for item in items %}
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.category.title }}</td>
          </tr>
         {% endfor %}
        </table>
      </div>

    </div> <!-- class=row !-->
  </div>
</nav>
</html>
