<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href='{{url_for('showCategories')}}'>Item Catalog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        </li>
      </ul>
    </div>

    <div class="row">

      <h1> New Item</h1>

    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Image Input</label>
        <input type="file" accept="image/png" id="exampleInputFile">
        <p class="help-block">Upload .png or .jpeg</p>
      </div>
      <div>
      <select class="form-control">
        {% for item in categories %}
        <option>{{ item.title }}</option>
        {% endfor %}
      </select>
      </div>
      <div>
        <button type="submit" class="btn btn-default">Create</button>
        <button class="btn btn-default">Return to page</button>
    </div>
  </form>

    </div> <!-- class=row !-->
  </div>
</nav>
</html>
