<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href='{{url_for('showCategories')}}'>Item Catalog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a class="btn btn-default" role="button" href='{{url_for('newItem')}}'>New Item</a>
        </li>
        <li>
          <a class="btn btn-primary" role="button" style= 'color: white' href='#'>Log In</a>
        </li>
      </ul>
    </div>

    <div class="row">

      <div class="col-md-2">
        <ul class="list-unstyled">
          {% for item in categories %}
          <li><a href='{{url_for('showCategory',category_id=item.id)}}'>{{ item.title }} </a> </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-10">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="bg-danger"> {{ message }} </p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h1> {{ category.title }} </h1>

        <table class="table table-striped">
          <th> Name </th>
          <th> Description </th>
          <th> Category </th>
          {% for item in items %}
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ category.title }}</td>
            <td> <a class="btn btn-default" href='{{url_for('editItem', category_id = category.id, item_id = item.id )}}'>Edit</a> <a class="btn btn-default" href='{{url_for('deleteItem',category_id = category.id, item_id = item.id)}}'> Delete </a></td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div> <!-- class=row !-->
  </div>
</nav>
</html>
